@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }
}

/* Custom Base Styles */
@layer base {
  body {
    @apply font-body bg-background-light text-charcoal dark:bg-background-dark dark:text-gray-100 transition-colors duration-300;
  }
}
